:host {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); // Граница снизу

  // Для темной темы
  :host-context(body.dark-theme) & {
    border-bottom-color: rgba(255, 255, 255, 0.12);
  }
}

.app-title {
  margin-left: 16px; // Увеличил отступ
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

.spacer {
  flex: 1 1 auto;
}

// Добавим небольшой отступ для кнопок
button[mat-icon-button] {
  margin: 0 4px;
}
